<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{layout/master}">
<head>
    <meta charset="UTF-8">
    <title>Category</title>
</head>
<body>
<!-- Page content-->
<div class="container p-5​" layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <br>
            <h1>List of all Book's Categories</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <br>
            <br>
            <table class="table table-hover">
                <thead class="bg-danger text-light">
                <tr>
                    <th>ID</th>
                    <th>Category name</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="category: ${categories}" th:object="${category}">
                    <td th:text="*{id}"></td>
                    <td th:text="*{name}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>