<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/master}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container" layout:fragment="content">
    <br><br>
    <div class="col-md-12">
        <div class="row mb-5">
            <h1 th:text="${isNew?'Create Book':'Update Book'}">Create new Book</h1>
        </div>

        <div class="row">
            <form th:action="${isNew?'/create/submit':'/update/submit'}" method="post" th:object="${book}"
                  enctype="multipart/form-data">
                <div class="form-group row">
                    <!--<label class="col-sm-2 col-form-label" style="width: 125px;">ID</label>-->
                    <div class="col-sm-10 pl-5">
                        <input th:field="*{id}" type="number" class="form-control" placeholder="id" hidden>
                        <span th:if="${#fields.hasErrors()}" th:errors="*{id}"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" style="width: 125px;">Title</label>
                    <div class="col-sm-10 pl-5">
                        <input th:field="*{title}" type="text" class="form-control" placeholder="Title">
                        <span th:if="${#fields.hasErrors()}" th:errors="*{title}"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" style="width: 125px;">Author</label>
                    <div class="col-sm-10 pl-5">
                        <input th:field="*{author}"  type="text" class="form-control" placeholder="Author">
                        <span th:if="${#fields.hasErrors()}" th:errors="*{author}"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" style="width: 125px;">Publisher</label>
                    <div class="col-sm-10 pl-5">
                        <input th:field="*{publisher}" type="text" class="form-control" placeholder="Publisher">
                        <span th:if="${#fields.hasErrors()}" th:errors="*{publisher}"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" style="width: 125px;">Category</label>
                    <div class="col-sm-10 pl-5">
                        <select th:name="category.id" id="category_id" style="height: 35px;">
                            <option th:each="category: ${categories}" th:object="${category}" th:value="*{id}" th:text="*{name}">

                            </option>
                        </select>
                    </div>
                </div>

                <input type="text" th:field="*{thumbnail}" hidden>
                <input type="file" name="file"> <br><br>
                <div class="form-group row">
                    <input type="submit" value="Submit" class="btn btn-info float-right" style="margin-left: 300px;">
                </div>
            </form>
        </div>
    </div>
    <div layout:fragment="script">
        <script th:inline="javascript">
            /*<!{CDATA[*/
            var categories = /*[[${categories}]]*/ null;
            var book_cate_id = /*[[${book.category.id}]]*/ null;
            /*]]>*/
            console.log(categories)
            console.log(book_cate_id)
            $(document).ready(function () {
                $.each(categories, function (index, category) {
                    console.log(category)
                    if (category.id == book_cate_id) {
                        $('#category_id option[value="' + book_cate_id + '"]').attr('selected', 'selected');
                    }
                })
            });
        </script>
    </div>
</div>

</body>
</html>