<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{layout/master}">
<head>
    <meta charset="UTF-8">
    <title>Title Index</title>

</head>
<body>
    <!-- Page content-->
    <div class="container p-5​" layout:fragment="content">
        <div class="row">
            <div class="col-md-12">
                <br>
                <h1 th:text="#{title}"></h1>
            </div>
        </div>
        <br><br><br>
        <div class="row">
            <div class="col-lg-10 col-md-12">
                <form class="form-row" method="get" id="search-form">
                <!--<form class="form-row" action="/index">-->
                    <div class="col-lg-6 col-md-12">
                        <select id="cate-id" name="cateId"
                                class="mdb-select colorful-select dropdown-secondary mx-2">
                            <option value="" disabled selected>Filter By Category</option>
                            <option value="" selected="selected">All Category</option>
                            <option th:each="category: ${categories}" th:value="${category.id}"
                                    th:text="${category.name}"> Category name</option>

                        </select>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="form-inline md-form mt-2 ml-2">
                            <input id="book-title" name="bookTitle" class="form-control my-0" type="text"
                                   placeholder="Search" style="width: 88%">

                            <button type="submit" class="btn btn-sm btn-primary ml-2 px-1 btn-block"
                                    style="width: 9%"><i
                                    class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
            <br><br><br>
        <!--Modal: Add Book / Update Book Form-->
        <div class="modal fade" id="modalCreateForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog cascading-modal" role="document" style="min-width: 70%;">
                <!--Content-->
                <div class="modal-content">

                    <!--Modal cascading tabs-->
                    <div class="modal-c-tabs">

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs tabs-2 light-blue darken-3">
                            <li class="text-white text-center">
                                <span>Create Book</span>
                            </li>
                        </ul>

                        <!--Body-->
                        <div class="modal-body mb-1">


                            <!-- Extended material form grid -->
                            <form class="md-form">
                                <!-- Grid row -->
                                <div class="form-row">
                                    <!-- Grid column -->
                                    <div class="col-md-12">
                                        <!-- Material input -->
                                        <div class="md-form form-group">
                                            <input id="title" type="text"  class="form-control">
                                            <label for="title">Book Title</label>

                                        </div>
                                    </div>
                                    <!-- Grid column -->

                                    <!-- Grid column -->
                                    <div class="col-md-12">
                                        <!-- Material input -->
                                        <div class="md-form form-group">
                                            <!--Blue select-->
                                            <select class="mdb-select colorful-select dropdown-default" id="category_id">
                                                <!--<option disabled th:unless="${isNew}">Choose Your Category</option>-->
                                                <option disabled  selected>Choose Your Category</option>
                                                <th:block>
                                                    <option th:each="category: ${categories}" th:object="${category}" th:value="*{id}" th:text="*{name}"></option>
                                                </th:block>

                                            </select>
                                            <label>Category</label>

                                            <!--/Blue select-->
                                        </div>
                                    </div>
                                    <!-- Grid column -->

                                    <!-- Grid column -->
                                    <div class="col-md-6">
                                        <!-- Material input -->
                                        <div class="md-form form-group">
                                            <input id="author" type="text" class="form-control" >
                                            <label for="author">Author</label>
                                        </div>
                                    </div>
                                    <!-- Grid column -->

                                    <!-- Grid column -->
                                    <div class="col-md-6">
                                        <!-- Material input -->
                                        <div class="md-form form-group">
                                            <input id="publisher" type="text" class="form-control" >
                                            <label for="publisher">Publisher</label>
                                        </div>
                                    </div>
                                    <!-- Grid column -->

                                    <!-- Grid column -->
                                    <div class="col-md-12">
                                        <!-- Material input -->
                                        <div class="md-form form-group file-field">
                                            <div class="btn btn-outline-default btn-rounded waves-effect btn-sm float-left">
                                                <span>Choose file</span>
                                                <input type="file" name="file" id="upload-file">
                                            </div>
                                            <div class="file-path-wrapper">
                                                <input class="file-path validate" type="text" placeholder="Upload your file">
                                            </div>
                                        </div>



                                    </div>
                                    <!-- Grid column -->

                                </div>
                                <!-- Grid row -->

                                <!--id and thumbnail-->
                                <input type="hidden" ><br>
                                <input type="hidden" >

                            </form>
                            <!-- Extended material form grid -->
                            <div class="text-center mt-2">
                                <button id="btn-save" class="btn btn-info btn-block">Save <i class="fa fa-edit ml-1"></i></button>
                            </div>



                        </div>
                        <!--Footer-->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-danger waves-effect ml-auto" data-dismiss="modal">
                                Close
                            </button>
                        </div>


                    </div>
                </div>
                <!--/.Content-->
            </div>
        </div>
        <!--Modal: Add Book / Update Book Form-->

        <div class="text-center">
            <a href="" class="btn btn-primary btn-rounded my-3" data-toggle="modal" data-target="#modalCreateForm"><i
                    class="fa fa-edit"></i>&nbsp;Add New</a>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="/create">
                    <button type="button" class="btn btn-outline-success" style="width: 255px; float: right; font-size:18px">Create</button>
                </a>
                <br>
                <br>
                <table id="table-id" class="table table-hover">
                    <thead class="bg-danger text-light">
                    <tr>
                        <th th:text="#{table.id}" style="width: 10%;"></th>
                        <th th:text="#{table.title}" style="width: 15%;">Title</th>
                        <th th:text="#{table.author}" style="width: 15%;">Author</th>
                        <th th:text="#{table.publisher}" style="width: 15%;">Publisher</th>
                        <th th:text="#{table.category}" style="width: 15%;">Category</th>
                        <th th:text="#{table.thumbnail}" style="width: 15%;">Thumbnail</th>
                        <th th:text="#{table.action}" style="width: 15%;">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${book} != null" th:each="book: ${books}" style="height: 125px;" th:object="${book}">
                        <td>[[${book.id}]]</td>
                        <td th:text="*{title}"></td>
                        <td th:text="*{author}"></td>
                        <td th:text="*{publisher}"></td>
                        <td th:text="*{category.name}"></td>
                        <td>
                            <img style="width: 125px; height: 125px;" th:src="${book.getThumbnail()}" alt="">
                        </td>
                        <td class="action">
                            <a th:href="@{/view/{id}(id=${book.getId()})}">
                                <button type="button" class="btn btn-outline-primary mb-2"><i class="fas fa-eye"></i></button>
                            </a>
                            <a th:href="@{/update/{book_id}(book_id=${book.getId()})}">
                                <button type="button" class="btn btn-outline-secondary mb-2"><i class="fas fa-edit"></i></button>
                            </a>
                            <button type="button" class="btn btn-outline-danger btn-delete mb-2" th:attr="data-id=${book.getId()}">
                                <i class="fas fa-trash-alt"></i>&nbsp;
                            </button>
                        </td>
                    </tr>
                    <tr th:unless="${books}" >
                        <h1>No book found!</h1>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div>

    </div>
    <div layout:fragment="myscript">

        <script>

            $(document).ready(function(){

                function bookFilter(cateId, bookTitle){
                    var tr = '';
                    $.ajax({
                        url: 'api/v1/book/filter?cateId='+cateId+'&bookTitle='+bookTitle,
                        type: 'GET',
                        beforeSend: function(xhr){
                          xhr.setRequestHeader("Authorization", "Basic YXBpOmFwaQ==")
                        },
                        success: function(response){
                            $.each(response, function(index, book){
                                tr += '<tr style="height: 125px;">' +
                                    '                        <td>'+ book.id +'</td>' +
                                    '                        <td>'+ book.title +'</td>' +
                                    '                        <td>'+ book.author +'</td>' +
                                    '                        <td>'+ book.publisher +'</td>\n' +
                                    '                        <td>'+ book.category.name+'</td>\n' +
                                    '                        <td>' +
                                    '                            <img style="width: 125px; height: 125px;" src="'+book.thumbnail+'" alt="">\n' +
                                    '                        </td>\n' +
                                    '                        <td class="action">\n' +
                                    '                            <a href="/view/'+book.id+'">\n' +
                                    '                                <button type="button" class="btn btn-outline-primary mb-2"><i class="fas fa-eye"></i></button>\n' +
                                    '                            </a>\n' +
                                    '                            <a href="/update/'+book.id+'">\n' +
                                    '                                <button type="button" class="btn btn-outline-secondary mb-2"><i class="fas fa-edit"></i></button>\n' +
                                    '                            </a>\n' +
                                    '                            <button type="button" class="btn btn-outline-danger btn-delete mb-2" data-id="'+book.id+'">\n' +
                                    '                                <i class="fas fa-trash-alt"></i>&nbsp;\n' +
                                    '                            </button>\n' +
                                    '                        </td>\n' +
                                    '                    </tr>'
                            });

                            // console.log(response);
                            console.log(tr)
                            $('#table-id tbody').empty();
                            $('#table-id tbody').append(tr);
                        },
                        error: function(err){
                            console.log(err);
                        }
                    })
                }

                $('#search-form').on('submit', function (event) {
                    event.preventDefault(); /* used to prevent page from refreshing the page when the form is submitted*/
                    var cate_id = $("#cate-id");
                  if (cate_id == null)
                        cate_id = '';
                    bookFilter(cate_id.val(), $('#book-title').val());
                })



                // var server_port = [[#{server.port}]];

                $("body").on('click', '.btn-delete', function () {
                    var data_id = $(this).attr("data-id");
                    console.log(data_id)
                    if (confirm("Are you sure you want to delete this record?")) {
                        window.location = "http://localhost:1234/delete/" + data_id;
                    }
                })

                $("#modalCreateForm").modal({
                    show: false,
                    backdrop: 'static',
                    keyboard: false
                })

                $('body').on('click', '#btn-save', function(){
                    console.log("adsfasdffasd")
                    var title = $("#title").val();
                    var author = $("#author").val();
                    var publisher = $("#publisher").val();
                    var cate_id = $("#category_id").val();

                    var book = {
                        'title' : title,
                        'author' : author,
                        'publisher' : publisher,
                        'category' : {
                            'id' : cate_id
                        }
                    }

                    $.ajax({
                        url: '/api/v1/book',
                        type: 'POST',
                        data: JSON.stringify(book),
                        contentType: 'application/json',
                        beforeSend: function(xhr){
                            xhr.setRequestHeader("Authorization", "Basic YXBpOmFwaQ==")
                        },
                        success: function(response){
                            console.log(response)
                        },
                        error: function(err){
                            console.log(err)
                        }
                    })
                })
            });




        </script>

    </div>
</body>
</html>