<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/master}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div layout:fragment="content" class="container">
        <br><br>
        <h1 style="text-align: center"><u>View Book Detail</u></h1>
        <br><br>
        <!--<th:block th:if=    "${book} != null" th:object="${book}">
            ID: [[*{id}]] <br>
            Title: [[*{title}]] <br>
            Author: [[*{author}]] <br>
            Publisher: [[*{publisher}]] <br>
            Thumbnail: [[*{thumbnail}]] <br>
            <img src="${thumbnail}" alt="img">
        </th:block>
        <h1 th:unless="${book}" style="color: red;"> No book found! </h1>-->

        <!--<table class="table table-hover" >-->
            <!--<thead class="bg-danger text-light">-->
            <!--<tr>-->
                <!--<th th:text="#{table.id}" style="width: 10%;"></th>-->
                <!--<th th:text="#{table.title}" style="width: 15%;">Title</th>-->
                <!--<th th:text="#{table.author}" style="width: 10%;">Author</th>-->
                <!--<th th:text="#{table.publisher}" style="width: 10%;">Publisher</th>-->
                <!--<th th:text="#{table.category}" style="width: 10%;"></th>-->
                <!--<th th:text="#{table.thumbnail}" style="width: 20%;">Thumbnail</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr th:if="${book} != null" th:object="${book}" style="height: 125px;">-->
                <!--<td>[[*{id}]]</td>-->
                <!--<td th:text="*{title}"></td>-->
                <!--<td th:text="*{author}"></td>-->
                <!--<td th:text="*{publisher}"></td>-->
                <!--<td th:text="*{category.name}"></td>-->
                <!--<td>-->
                    <!--<img style="width:425px; height: 325px;" th:src="${book.getThumbnail()}" alt="">-->
                <!--</td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->

        <div class="card" style="width: 18rem; margin: auto;" th:if="${book}!=null" th:object="${book}">
            <img class="card-img-top" th:if="${book.getThumbnail()}!=null" th:src="${book.getThumbnail()}" alt="Card image cap">
            <img th:unless="${book.getThumbnail()}" src="http://via.placeholder.com/350x250" alt="">
            <div class="card-body">
                <h5 class="card-title">[[*{title}]]</h5>
                <p class="card-text">Author&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;[[*{author}]]</p>
                <p class="card-text">Publisher&nbsp;: [[*{publisher}]]</p>
                <p class="card-text">Category&nbsp;:&nbsp; [[*{category.name}]]</p>
                <a href="/index" class="btn btn-primary">Back</a>
            </div>
        </div>


        <h1 th:unless="${book}" style="color: red">No Book found!</h1>
    </div>
</body>
</html>