<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Hello Admin!</h1>

    <!-- first way to catch username-->
    <h1 th:text="${#authentication.principal.username}"></h1>

    <!-- second way to catch username-->
    <h1 sec:authentication="name"></h1>

    <div sec:authorize="hasRole('ROLE_Admin')">
        This is for Admin
    </div>
</body>
</html>